div {
	border-radius: 5px;
}
body {
	background: url(https://i.pinimg.com/originals/8e/25/3d/8e253d17f68237735b2f1d5a50899275.jpg);
}
ul li a {
	text-decoration: none;
	font-size: 20px;
	font-family: Verdana;
	color: #2dffff;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;	
}
ul li a:hover {
	color: #9acd32;
}
ul li a:visited {
	color: #dc143c;
}
ul li a:active {
	color: #ff00ff;
}
ul li {
	font-size: 20px;
	font-family: Verdana;
	color: #2dffff;
	display: inline;	
}
#menu {
	height: 60px;
	background-color: #0d0d0d; 
   	z-index: 1;
	width: 960px;
	margin-top: 10px;
	margin-bottom: 10px;
    	margin-left: auto;
    	margin-right: auto;
	font-size: 40px;		
}
#kontakt {
	height: 500px;
	background-color: #0d0d0d;
	width: 960px;
	margin-top: 10px;
	margin-bottom: 10px;
    	margin-left: auto;
    	margin-right: auto;
	color: #ffd700;
}
#footer {
	height: 35px;
	background-color: #0d0d0d; 
	width: 960px;
	margin-top: 0px;
	margin-bottom: 0px;
    	margin-left: auto;
    	margin-right: auto;
}
#footer a {
	text-decoration: none;
	font-family: Verdana;
	padding-top: 25px;
	padding-right: 195px;
	padding-bottom: 25px;
	padding-left: 134px;
	font-size: 25px;
	color: #2dffff;
}
#footer a:hover {
	color: #9acd32;
}
#footer a:visited {
	color: #dc143c;
}
#footer a:active {
	color: #ff00ff;
}
